@font-face {
    font-family: 'Kalam', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Kalam&family=Raleway:wght@100&display=swap');
}

body {
    margin: 0;
    padding: 0;
    background-image: url(99438.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    background-position: center;
    background-attachment: fixed;

    .press1 {
        display: block;
        margin-top: 55vw;
        margin-left: 20vw;
        width: 5vw;
        background-color: transparent;
        border: none;
        font-size: 5vw;
        color: white;
        font-family: 'Kalam', cursive;

    }
    article{
        font-family: 'Kalam', cursive;
        margin-top: 60vw;
        margin-left: 10vw;
        font-size: 2vw;
    }


}